{% extends 'base.html.twig' %}

{% block title %}{% trans %}Dein Warenkorb{% endtrans %}{% endblock %}

{% block body %}
{# rendering fragment recherche #}
{{ render(path('recherche')) }}

<section class="m-panier">
    <div class="wrapper">
        <h2>{% trans %}Dein Warenkorb{% endtrans %}</h2>
        <div class="overflow-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans %}Artikel{% endtrans %}</th>
                        <th>{% trans %}Preis (ohne MwSt){% endtrans %}</th>
                        <th>{% trans %}MwSt-Betrag{% endtrans %}</th>
                        <th>{% trans %}Preis (inkl. MwSt){% endtrans %}</th>
                        <th>{% trans %}Anzahl{% endtrans %}</th>
                        <th>{% trans %}Total{% endtrans %}</th>
                        <th>{% trans %}Aktion{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody id="tbody-content">                  
                    {# for else => si on a des éléments dans le tableau => traitement dans le for, sinon traitement dans le else #}
                    {% for element in infosPanier %}
                        <tr>
                            <td>{{ element.traduction.nom }}</td>
                            <td class="text-start">{{ element.prixHorsTva }} €</td>
                            <td class="text-start">{{ element.prixTva }} €</td>
                            <td class="text-start" >{{ element.prixTotal }} €</td>
                            <td class="quantite-management">
                                <a title="{% trans %}Artikel abziehen{% endtrans %}" href="{{ path('remove_panier', {id: element.article.id})}}" class="btn btn-outline-info size-btn articleminus">
                                    <i class="fa fa-minus"></i>
                                </a>
                                <span>{{ element.quantite }}</span>
                                <a title="{% trans %}Artikel hinzufügen{% endtrans %}" href="{{ path('add_panier', {id: element.article.id})}}" class="btn btn-outline-info size-btn articleplus">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </td>
                            <td class="text-start">{{ element.prixTotalQuantite }} €</td>
                            <td>
                                <a title="{% trans %}Artikel komplett löschen{% endtrans %}" href="{{ path('delete_panier', {id: element.article.id})}}" class="btn btn-danger-size btn-danger" onclick="return confirm('{% trans %}Willst du diesen Artikel wirklich aus deinem Warenkorb entfernen?{% endtrans %}')">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">{% trans %}Keine Artikel im Warenkorb{% endtrans %}</td>
                        </tr>
                    {% endfor %}              
                </tbody>
                {% if infosPanier %}  
                <tfoot id="tfoot-content">
                    <tr>
                        <td colspan="5">
                            {% trans %}Lieferkosten{% endtrans %}
                            <p class="livraison-info">{% trans %}Ab einem Warenwert von 100 Euro entfallen die Lieferkosten!{% endtrans %}</p>
                        </td>
                        <td class="text-start">{{ fraisLivraison }} €</td>
                    </tr>
                    <tr>
                        <td colspan="5">Total</td>
                        <td class="text-start" id='prix-total'>{{ total }} €</td>
                        <td>
                            <form action="{{ path('paiement', {total: total}) }}" method="POST">
                                <button type="submit" class="btn btn-outline-info">{% trans %}Bezahlen{% endtrans %}</button>
                            </form>
                        </td>
                    </tr> 
                </tfoot> 
                {% endif %}        
            </table>
        </div>
    </div>
</section>

{% endblock %}
