{% extends 'base.html.twig' %}

{% block title %}{% trans %}Passwort ändern{% endtrans %}{% endblock %}

{% block body %}
<div class="formulaire"> 
    <div class="wrapper"> 
    {# insertion message de réussite / erreur / notice #}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger message">
            {{ message }}
        </div>
    {% endfor %}       
        <div class="info-box-authentification">
            <h1>{% trans %}Geben Sie Ihre Emailadresse an{% endtrans %}</h1>
            <p>{% trans %}Es wird Ihnen eine Email zugeschickt, in der Sie die Passwortänderung bestätigen müssen.{% endtrans %}</p>
        </div>
        {{ form_start(formPasswordResetEmail, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="form-container">
                {{ form_row(formPasswordResetEmail.email) }}
            </div> 
            {{ form_row(formPasswordResetEmail.submit) }}
           
        {{ form_end(formPasswordResetEmail) }}       
    </div>
</div>
{% endblock %}