{% extends 'base.html.twig' %}

{% block title %}Passwort ändern{% endblock %}

{% block body %}
<div class="formulaire"> 
    <div class="wrapper"> 
    {# insertion message de réussite / erreur / notice #}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger message">
            {{ message }}
        </div>
    {% endfor %}       
        <div class="info-box-authentification">
            <h1>Geben Sie Ihr neues Passwort ein!</h1>
            <p>Sie müssen Ihr Passwort auch bestätigen.</p>
        </div>
        {{ form_start(formPasswordReset, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="form-container">
                {{ form_row(formPasswordReset.plainPassword) }}
            </div> 
            {{ form_row(formPasswordReset.submit) }}
           
        {{ form_end(formPasswordReset) }}       
    </div>
</div>
{% endblock %}