{% extends 'base.html.twig' %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block body %}

{# rendering fragment recherche #}
{{ render(path('recherche')) }}

<section class="m-list-articles">
    <div class="wrapper">
    {# insertion message de réussite / erreur / notice #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success message">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-warning message">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger message">
            {{ message }}
        </div>
    {% endfor %}
    <h1>{% trans %}Unsere Bestseller{% endtrans %}</h1>
        <div class="m-list-articles-result">
            <div class="row">
                {% for traductionArticleBestseller in traductionArticlesBestseller %} 
                    <div class="col-12">
                        <div class="m-article-content">
                            {% for image in traductionArticleBestseller.article.images %}
                                {% if image.coverListArticle == true %}                           
                                    <img src="{{ asset('/uploads/images/'~image.nom) }}" alt="{{ traductionArticleBestseller.nom}}" title="{{ traductionArticleBestseller.nom}}">                            
                                {% endif %}
                            {% endfor %}
                            <div class="m-article-info">
                                <div class="deco-point">
                                {% for image in traductionArticleBestseller.article.categorie.images %}            
                                    <img src="{{ asset('/uploads/images/'~image.nom) }}" 
                                    {# boucle sur les traductions des catégories dont la langue est la langue de traductionArticle (par exemple français) #}
                                        {% for traductionCategorie in traductionArticleBestseller.langue.traductionCategories %}
                                            {# si la categorie de la traductionCategorie est égal à la categorie de l'article en question #}
                                            {# affichage du nom de la catégorie dans la langue pour ALT et TITLE #}
                                            {% if traductionCategorie.categorie == traductionArticleBestseller.article.categorie %}
                                                alt="{{ traductionCategorie.nom }}" title="{{ traductionCategorie.nom }}"
                                            {% endif %}
                                        {% endfor %}
                                        >
                                {% endfor %}                                     
                                </div>
                                <h3>{{ traductionArticleBestseller.nom }}</h3>
                                {# si il y a une promotion #}
                                {% if traductionArticleBestseller.article.promotion %}  
                                    {# définition réduction sur base de pourcentage #}
                                    {% set reduction = traductionArticleBestseller.article.montantHorsTva  * traductionArticleBestseller.article.promotion.pourcentage %}  
                                    {# date d'affichage#}
                                    {% if traductionArticleBestseller.article.promotion.dateStart < date('now') and traductionArticleBestseller.article.promotion.dateEnd > date('now') %}
                                        <div class="promo-info-box">
                                            <p class="barre">{{ ((traductionArticleBestseller.article.montantHorsTva + (traductionArticleBestseller.article.montantHorsTva * traductionArticleBestseller.article.tauxTva)) / 100)|number_format(2, ',', '.') }} €</p>
                                            <p class="promo">{{ (((traductionArticleBestseller.article.montantHorsTva - reduction) + ((traductionArticleBestseller.article.montantHorsTva - reduction) * traductionArticleBestseller.article.tauxTva)) / 100)|number_format(2, ',', '.') }} €</p>
                                            <p class="promo promo-date">{{ traductionArticleBestseller.article.promotion.dateStart|date('d/m/Y') }} - {{ traductionArticleBestseller.article.promotion.dateEnd|date('d/m/Y')}}</p>
                                        </div>
                                    {% else %}                      
                                        <p>{{ ((traductionArticleBestseller.article.montantHorsTva + (traductionArticleBestseller.article.montantHorsTva * traductionArticleBestseller.article.tauxTva)) / 100)|number_format(2, ',', '.') }} €</p>
                                    {% endif %}
                                {% elseif traductionArticleBestseller.article.categorie.promotion %}
                                    {# définition réduction sur base de pourcentage #}
                                    {% set reduction = traductionArticleBestseller.article.montantHorsTva  * traductionArticleBestseller.article.categorie.promotion.pourcentage %}  
                                    {# date d'affichage#}
                                    {% if traductionArticleBestseller.article.categorie.promotion.dateStart < date('now') and traductionArticleBestseller.article.categorie.promotion.dateEnd > date('now') %}
                                        <div class="promo-info-box">
                                            <p class="barre">{{ ((traductionArticleBestseller.article.montantHorsTva + (traductionArticleBestseller.article.montantHorsTva * traductionArticleBestseller.article.tauxTva)) / 100)|number_format(2, ',', '.') }} €</p>
                                            <p class="promo">{{ (((traductionArticleBestseller.article.montantHorsTva - reduction) + ((traductionArticleBestseller.article.montantHorsTva - reduction) * traductionArticleBestseller.article.tauxTva)) / 100)|number_format(2, ',', '.') }} €</p>
                                            <p class="promo promo-date">{{ traductionArticleBestseller.article.categorie.promotion.dateStart|date('d/m/Y') }} - {{ traductionArticleBestseller.article.categorie.promotion.dateEnd|date('d/m/Y')}}</p>
                                        </div>
                                    {% else %}                        
                                        <p>{{ ((traductionArticleBestseller.article.montantHorsTva + (traductionArticleBestseller.article.montantHorsTva * traductionArticleBestseller.article.tauxTva)) / 100)|number_format(2, ',', '.') }} €</p>
                                    {% endif %}
                                {% else %}                        
                                    <p>{{ ((traductionArticleBestseller.article.montantHorsTva + (traductionArticleBestseller.article.montantHorsTva * traductionArticleBestseller.article.tauxTva)) / 100)|number_format(2, ',', '.') }} €</p>
                                {% endif %}
                                <p>{{ traductionArticleBestseller.slogan }}</p>
                                {% if (app.user) %}
                                    <div class="container-bouton">
                                        <a title="{% trans %}Zum Detail{% endtrans %}" href="{{ path('article_detail', {id: traductionArticleBestseller.article.id})}}" class="btn btn-outline-info detail-btn"><i class="fas fa-info"></i></a>
                                        <a title="{% trans %}Dem Warenkorb hinzufügen{% endtrans %}" class="btn-outline-info btn btn-add-panier" href="{{ path('add_panier', {id: traductionArticleBestseller.article.id}) }}" onclick='return confirm("{% trans %}Möchtest du diesen Artikel dem Warenkorb hinzufügen?{% endtrans %}")'>       
                                            <div class="action-icon">
                                                <i class="fas fa-cart-arrow-down"></i>
                                            </div>
                                        </a> 
                                    </div>
                                {% else %} 
                                    <div>
                                        <a title="{% trans %}Zum Detail{% endtrans %}" href="{{ path('article_detail', {id: traductionArticleBestseller.article.id})}}" class="btn btn-outline-info detail-btn"><i class="fas fa-info"></i></a>
                                    </div>
                                {% endif %}
                            </div> 
                        </div>                   
                    </div>
                {% endfor %}              
            </div>
        </div>
    </div>
</section>
<section class="m-list-articles">
    <div class="wrapper">
    <h1>{% trans %}Unsere Neuigkeiten{% endtrans %}</h1>
        <div class="m-list-articles-result">
            <div class="row">
                {% for traductionArticleNew in traductionArticlesNew %} 
                    <div class="col-12">
                        <div class="m-article-content">
                            {% for image in traductionArticleNew.article.images %}
                                {% if image.coverListArticle == true %}                           
                                    <img src="{{ asset('/uploads/images/'~image.nom) }}" alt="{{ traductionArticleNew.nom}}" title="{{ traductionArticleNew.nom}}">                            
                                {% endif %}
                            {% endfor %}
                            <div class="m-article-info">
                                <div class="deco-point">
                                    {% for image in traductionArticleNew.article.categorie.images %}            
                                        <img src="{{ asset('/uploads/images/'~image.nom) }}" 
                                        {# boucle sur les traductions des catégories dont la langue est la langue de traductionArticle (par exemple français) #}
                                        {% for traductionCategorie in traductionArticleNew.langue.traductionCategories %}
                                            {# si la categorie de la traductionCategorie est égal à la categorie de l'article en question #}
                                            {# affichage du nom de la catégorie dans la langue pour ALT et TITLE #}
                                            {% if traductionCategorie.categorie == traductionArticleNew.article.categorie %}
                                                alt="{{ traductionCategorie.nom }}" title="{{ traductionCategorie.nom }}"
                                            {% endif %}
                                        {% endfor %}
                                        >
                                {% endfor %}                                   
                                </div>
                                <h3>{{ traductionArticleNew.nom }}</h3>
                                {# si il y a une promotion #}
                                {% if traductionArticleNew.article.promotion %}  
                                    {# définition réduction sur base de pourcentage #}
                                    {% set reduction = traductionArticleNew.article.montantHorsTva  * traductionArticleNew.article.promotion.pourcentage %}  
                                    {# date d'affichage#}
                                    {% if traductionArticleNew.article.promotion.dateStart < date('now') and traductionArticleNew.article.promotion.dateEnd > date('now') %}
                                        <div class="promo-info-box">
                                            <p class="barre">{{ ((traductionArticleNew.article.montantHorsTva + (traductionArticleNew.article.montantHorsTva * traductionArticleNew.article.tauxTva)) / 100)|number_format(2, ',', '.') }} €</p>
                                            <p class="promo">{{ (((traductionArticleNew.article.montantHorsTva - reduction) + ((traductionArticleNew.article.montantHorsTva - reduction) * traductionArticleNew.article.tauxTva)) / 100)|number_format(2, ',', '.') }} €</p>
                                            <p class="promo promo-date">{{ traductionArticleNew.article.promotion.dateStart|date('d/m/Y') }} - {{ traductionArticleNew.article.promotion.dateEnd|date('d/m/Y')}}</p>
                                        </div>
                                    {% else %}                      
                                        <p>{{ ((traductionArticleNew.article.montantHorsTva + (traductionArticleNew.article.montantHorsTva * traductionArticleNew.article.tauxTva)) / 100)|number_format(2, ',', '.') }} €</p>
                                    {% endif %}
                                {% elseif traductionArticleNew.article.categorie.promotion %}
                                    {# définition réduction sur base de pourcentage #}
                                    {% set reduction = traductionArticleNew.article.montantHorsTva  * traductionArticleNew.article.categorie.promotion.pourcentage %}  
                                    {# date d'affichage#}
                                    {% if traductionArticleNew.article.categorie.promotion.dateStart < date('now') and traductionArticleNew.article.categorie.promotion.dateEnd > date('now') %}
                                        <div class="promo-info-box">
                                            <p class="barre">{{ ((traductionArticleNew.article.montantHorsTva + (traductionArticleNew.article.montantHorsTva * traductionArticleNew.article.tauxTva)) / 100)|number_format(2, ',', '.') }} €</p>
                                            <p class="promo">{{ (((traductionArticleNew.article.montantHorsTva - reduction) + ((traductionArticleNew.article.montantHorsTva - reduction) * traductionArticleNew.article.tauxTva)) / 100)|number_format(2, ',', '.') }} €</p>
                                            <p class="promo promo-date">{{ traductionArticleNew.article.categorie.promotion.dateStart|date('d/m/Y') }} - {{ traductionArticleNew.article.categorie.promotion.dateEnd|date('d/m/Y')}}</p>
                                        </div>
                                    {% else %}                        
                                        <p>{{ ((traductionArticleNew.article.montantHorsTva + (traductionArticleNew.article.montantHorsTva * traductionArticleNew.article.tauxTva)) / 100)|number_format(2, ',', '.') }} €</p>
                                    {% endif %}
                                {% else %}                        
                                    <p>{{ ((traductionArticleNew.article.montantHorsTva + (traductionArticleNew.article.montantHorsTva * traductionArticleNew.article.tauxTva)) / 100)|number_format(2, ',', '.') }} €</p>
                                {% endif %}
                                <p>{{ traductionArticleNew.slogan }}</p>
                                {# si l'utilisateur est authentifié, il peut ajouter directement des articles au panier #}
                                {% if (app.user) %}
                                    <div class="container-bouton">
                                        <a title="{% trans %}Zum Detail{% endtrans %}" href="{{ path('article_detail', {id: traductionArticleNew.article.id})}}" class="btn btn-outline-info detail-btn"><i class="fas fa-info"></i></a>
                                        <a title="{% trans %}Dem Warenkorb hinzufügen{% endtrans %}"class="btn-outline-info btn btn-add-panier" href="{{ path('add_panier', {id: traductionArticleNew.article.id}) }}" onclick='return confirm("{% trans %}Möchtest du diesen Artikel dem Warenkorb hinzufügen?{% endtrans %}")'>       
                                            <div class="action-icon">
                                                <i class="fas fa-cart-arrow-down"></i>
                                            </div>
                                        </a> 
                                    </div>
                                {% else %} 
                                    <div>
                                        <a title="{% trans %}Zum Detail{% endtrans %}" href="{{ path('article_detail', {id: traductionArticleNew.article.id})}}" class="btn btn-outline-info detail-btn"><i class="fas fa-info"></i></a>
                                    </div>
                                {% endif %}
                            </div> 
                        </div>                   
                    </div>
                {% endfor %}              
            </div>
        </div>
    </div>
</section>

{% endblock %}
