{% extends 'base.html.twig' %}

{% block title %}{% trans %}Einschreibung{% endtrans %}{% endblock %}

{% block body %}
 <div class="formulaire"> 
    <div class="wrapper"> 
        {# insertion message de réussite / erreur / notice #}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-warning message">
                {{ message }}
            </div>
        {% endfor %}  
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger message">
                {{ message }}
            </div>
        {% endfor %}  
        <div class="info-box-inscription">
            <h1>{% trans %}Einschreibung{% endtrans %}</h1>        
            <p>{% trans %}Alle Felder mit einem * sind obligatorisch. Anschliessend wirst du eine E-mail erhalten, in der du deine Einschreibung bestätigen musst.{% endtrans %}</p>
        </div>    
        {{ form_start(formInscription, {'attr': {'novalidate': 'novalidate'}}) }}
        
        <div class="form-container">
            <h3>{% trans %}Login-Daten{% endtrans %}</h3>
            {{ form_row(formInscription.email) }}
            {{ form_row(formInscription.plainPassword) }}
        </div>
        <div class="form-container">
            <h3>{% trans %}Persönliche Informationen{% endtrans %}</h3>
            <div class="form-flex-container">
                {{ form_row(formInscription.nomEntreprise) }}
                {{ form_row(formInscription.numeroTVA) }}
            </div>
            <div class="form-flex-container">
                {{ form_row(formInscription.nom) }}
                {{ form_row(formInscription.prenom) }}
            </div>            
            {{ form_row(formInscription.dateNaissance) }}
        </div>
        <div class="form-container">
            <h3>{% trans %}Wohnadresse{% endtrans %}</h3>
            <div class="form-flex-container">
                {{ form_row(formInscription.adresseHome.rue, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(formInscription.adresseHome.numeroRue, {'attr': {'novalidate': 'novalidate'}}) }}
            </div>
            <div class="form-flex-container">
                {{ form_row(formInscription.adresseHome.codePostal) }}
                {{ form_row(formInscription.adresseHome.ville) }}
            </div>
            {{ form_row(formInscription.adresseHome.pays) }}
        </div>
        <div class="form-container">
            <h3>{% trans %}Lieferadresse{% endtrans %}</h3> 
            <div class="form-flex-container">
                {{ form_row(formInscription.adresseDeliver.rue) }}
                {{ form_row(formInscription.adresseDeliver.numeroRue) }}
            </div>
            <div class="form-flex-container">
             
                {{ form_row(formInscription.adresseDeliver.codePostal) }}
                {{ form_row(formInscription.adresseDeliver.ville) }}
            </div>
            {{ form_row(formInscription.adresseDeliver.pays) }}
        </div>
        <div class="form-container">
            <h3>{% trans %}Möchtest du einen Newsletter abonnieren?{% endtrans %}</h3>
            <p>{% trans %}Du kannst eine oder mehrere Kategorien anwählen.{% endtrans %}</p>
            {{ form_row(formInscription.newsletterCategories) }}
        </div>
        <div class="form-container">
            <h3>{% trans %}Wähle deine Sprache aus!{% endtrans %}</h3>
            {{ form_row(formInscription.langue) }}
        </div>
        {{ form_row(formInscription.submit) }}

        {{ form_end(formInscription) }}
    </div>
</div>
{% endblock %}
