<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />        
    </head>
    <body>
        <div>
            <h2>{{ salutation }} {{ nom }}</h2>
            <p>{{ confirmation }}</p>  
        </div>
        <div style="margin-top: 30px;">
            <p>{{ salutationsDist }}</p>            
            <p>{{ noms }}</p>            
        </div>
    </body>       
</html>