<div class="row">
    {% for traductionArticle in traductionArticles %} 
        <div class="col-12">
            <div class="m-article-content">
                {% for image in traductionArticle.article.images %}
                    {% if image.coverListArticle == true %}                           
                        <img src="{{ asset('/uploads/images/'~image.nom) }}" alt="{{ traductionArticle.nom }}" title="{{ traductionArticle.nom }}">                            
                    {% endif %}
                {% endfor %}
                <div class="m-article-info">
                    <div class="deco-point">                    
                    {% for image in traductionArticle.article.categorie.images %}            
                        <img src="{{ asset('/uploads/images/'~image.nom) }}" 
                            {# boucle sur les traductions des catégories dont la langue est la langue de traductionArticle (par exemple français) #}
                            {% for traductionCategorie in traductionArticle.langue.traductionCategories %}
                                {# si la categorie de la traductionCategorie est égal à la categorie de l'article en question #}
                                {# affichage du nom de la catégorie dans la langue pour ALT et TITLE #}
                                {% if traductionCategorie.categorie == traductionArticle.article.categorie %}
                                    alt="{{ traductionCategorie.nom }}" title="{{ traductionCategorie.nom }}"
                                {% endif %}
                            {% endfor %}
                            >
                    {% endfor %}                                     
                    </div>
                    <h3>{{ traductionArticle.nom }}</h3>
                    {# si il y a une promotion #}
                    {% if traductionArticle.article.promotion %}  
                        {# date d'affichage#}
                        {% if traductionArticle.article.promotion.dateStart < date('now') and traductionArticle.article.promotion.dateEnd > date('now') %}
                            <div class="promo-info-box">
                                <p class="promo">{% trans %}Sonderangebot{% endtrans %} -{{ traductionArticle.article.promotion.Pourcentage * 100 }}%</p>
                                <p class="promo promo-date">{{ traductionArticle.article.promotion.dateStart|date('d/m/Y') }} - {{ traductionArticle.article.promotion.dateEnd|date('d/m/Y')}}</p>
                            </div>
                        {% endif %}
                    {% elseif traductionArticle.article.categorie.promotion %}
                        {# date d'affichage#}
                        {% if traductionArticle.article.categorie.promotion.dateStart < date('now') and traductionArticle.article.categorie.promotion.dateEnd > date('now') %}
                            <div class="promo-info-box">
                                <p class="promo">{% trans %}Sonderangebot{% endtrans %} -{{ traductionArticle.article.categorie.promotion.Pourcentage * 100 }}%</p>
                                <p class="promo promo-date">{{ traductionArticle.article.categorie.promotion.dateStart|date('d/m/Y') }} - {{ traductionArticle.article.categorie.promotion.dateEnd|date('d/m/Y')}}</p>
                            </div>
                        {% endif %}
                    {% endif %}
                    <p>{{ traductionArticle.slogan }}</p>
                    <a href="{{ path('article_detail', {id: traductionArticle.article.id})}}" class="btn btn-outline-info detail-btn"><i class="fas fa-info"></i></a>
                </div> 
            </div>                   
        </div>
    {% endfor %}              
</div>