<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% if pagBar > 1 %}
        <li class="page-item"><a href="{{ path('article_recherche', {pagBar: 1}) }}" class="page-link"><<</a></li>
        <li class="page-item"><a href="{{ path('article_recherche', {pagBar: pagBar - 1}) }}" class="page-link"><</a></li>
        <li class="move">...</li>
    {% endif %}
    {% if pagBar == 1 %}
        {% if nombreLiens == 1 %} 
            <li class="page-item active"><a href="{{ path('article_recherche', {pagBar: 1}) }}" class="page-link">1</a></li>
        {% else %}
            {% for i in range(pagBar, pagBar + 1) %}
                {% if i == pagBar %} 
                    <li class="page-item active"><a href="{{ path('article_recherche', {pagBar: i}) }}" class="page-link">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a href="{{ path('article_recherche', {pagBar: i}) }}" class="page-link">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% elseif pagBar > 1 and pagBar <= nombreLiens - 1 %}
        {% for i in range(pagBar - 1, pagBar + 1) %}
            {% if i == pagBar %} 
                <li class="page-item active"><a href="{{ path('article_recherche', {pagBar: i}) }}" class="page-link">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a href="{{ path('article_recherche', {pagBar: i}) }}" class="page-link">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    {% elseif pagBar == nombreLiens %}
        {% for i in range(pagBar - 1, nombreLiens) %}
            {% if i == pagBar %} 
                <li class="page-item active"><a href="{{ path('article_recherche', {pagBar: i}) }}" class="page-link">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a href="{{ path('article_recherche', {pagBar: i}) }}" class="page-link">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if pagBar < nombreLiens %}
        <li class="move">...</li>
        <li class="page-item"><a href="{{ path('article_recherche', {pagBar: pagBar + 1}) }}" class="page-link">></a></li>
        <li class="page-item"><a href="{{ path('article_recherche', {pagBar: nombreLiens}) }}" class="page-link">>>|</a></li> 
    {% endif %}      
    <ul>
</nav> 