<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
    {% if pagCat > 1 %}
        <li class="page-item"><a href="{{ path('article_recherche_cat', {id: id, pagCat: 1}) }}" class="page-link"><<</a></li>
        <li class="page-item"><a href="{{ path('article_recherche_cat', {id: id, pagCat: pagCat - 1}) }}" class="page-link"><</a></li>
        <li class="move">...</li>
    {% endif %}
    {% if pagCat == 1 %}
        {% if nombreLiens == 1 %} 
            <li class="page-item active"><a href="{{ path('article_recherche_cat', {id: id, pagCat: 1}) }}" class="page-link">1</a></li>
        {% else %}
            {% for i in range(pagCat, pagCat + 1) %}
                {% if i == pagCat %}
                    <li class="page-item active"><a href="{{ path('article_recherche_cat', {id: id, pagCat: i}) }}" class="page-link">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a href="{{ path('article_recherche_cat', {id: id, pagCat: i}) }}" class="page-link">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% elseif pagCat > 1 and pagCat <= nombreLiens - 1 %}
        {% for i in range(pagCat - 1, pagCat + 1) %}
            {% if i == pagCat %}
                <li class="page-item active"><a href="{{ path('article_recherche_cat', {id: id, pagCat: i}) }}" class="page-link">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a href="{{ path('article_recherche_cat', {id: id, pagCat: i}) }}" class="page-link">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    {% elseif pagCat == nombreLiens %}
        {% for i in range(pagCat - 1, nombreLiens) %}
            {% if i == pagCat %}
                <li class="page-item active"><a href="{{ path('article_recherche_cat', {id: id, pagCat: i}) }}" class="page-link">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a href="{{ path('article_recherche_cat', {id: id, pagCat: i}) }}" class="page-link">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if pagCat < nombreLiens %}
        <li class="move">...</li>
        <li class="page-item"><a href="{{ path('article_recherche_cat', {id: id, pagCat: pagCat + 1}) }}" class="page-link">></a></li>
        <li class="page-item"><a href="{{ path('article_recherche_cat', {id: id, pagCat: nombreLiens}) }}" class="page-link">>>|</a></li> 
    {% endif %}      
    <ul>
</nav>