{% extends 'base.html.twig' %}

{% block title %}Detail Artikel{% endblock %}

{% block body %}

{# rendering fragment recherche #}
{{ render(path('recherche')) }}

<section class="m-article-detail">
    <div class="wrapper">
        <section class="m-article-detail-intro">
            <h1>{{ traductionArticle.nom }}</h1>
            <p>{{ traductionArticle.slogan }}</p>
            <div class="m-article-detail-intro-img">
                {% for image in traductionArticle.article.images %}
                    {% if image.coverDetailArticle == true %}                           
                        <img src="{{ asset('/uploads/images/'~image.nom) }}" alt="{{ traductionArticle.nom}}" title="{{ traductionArticle.nom}}">                            
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        <section class="m-article-detail-info">        
            <div class="container-onglets">
                <div class="onglets act" data-anim="1">Beschreibung</div>
                <div class="onglets" data-anim="2">Zutaten</div>
                <div class="onglets" data-anim="3">Bewertungen</div>
            </div>
            <div class="contenu activeContenu" data-anim="1">
                <div class="m-article-detail-info-box">
                    <h3>Allgemeine Beschreibung:</h3>               
                    <p>{{ traductionArticle.description }}</p>
                </div>
                <div class="m-article-detail-info-box">
                    <h3>Kategorie:</h3>
                    <p>{{ traductionCategorie.nom }}</p> 
                </div>
                <div class="m-article-detail-info-box">
                    <h3>Preis:</h3>
                    <p>{{ prix }}</p> 
                </div>
                <div class="m-article-detail-info-btn">
                    <a href="#" class="btn btn-outline-info">In den Warenkorb</i></a>
                </div>      
            </div>
            <div class="contenu" data-anim="2">
                <div class="row"> 
                    <div class="col-6">           
                        <div class="contenu-box">
                            <h3>Butter:</h3>
                            {% if traductionBeurres is defined and traductionBeurres is not null and traductionBeurres is not empty %}
                                <ul>
                                {% for beurre in traductionBeurres %}                                        
                                    <li>{{ beurre.nom }}</li>                                      
                                {% endfor %}
                                </ul>
                            {% else %}
                                <p>/</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-6"> 
                        <div class="contenu-box">
                            <h3>Öle:</h3>
                            {% if traductionHuiles is defined and traductionHuiles is not null and traductionHuiles is not empty %}
                                <ul>
                                {% for huile in traductionHuiles %}                                  
                                    <li>{{ huile.nom }}</li>                                        
                                {% endfor %}
                                </ul>
                            {% else %}
                                <p>/</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-6"> 
                        <div class="contenu-box">
                            <h3>Ätherische Öle:</h3>
                            {% if traductionHuilesEss is defined and traductionHuilesEss is not null and traductionHuilesEss is not empty %}
                                <ul>
                                {% for huileEss in traductionHuilesEss %}                                   
                                    <li>{{ huileEss.nom }}</li>
                                {% endfor %}
                                </ul>
                            {% else %}
                                <p>/</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-6"> 
                        <div class="contenu-box">
                            <h3>Sonstige Zutaten:</h3>
                            {% if traductionIngredientsSupp is defined and traductionIngredientsSupp is not null and traductionIngredientsSupp is not empty %}
                                <ul>
                                {% for ingredientSupp in traductionIngredientsSupp %}                                 
                                    <li>{{ ingredientSupp.nom }}</li>                                        
                                {% endfor %}
                                </ul>
                            {% else %}
                                <p>/</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>               
            <div class="contenu" data-anim="3">
                <h3>Bewertungen</h3>
                <hr>
                <p>JIJI</p>
            </div>
        </section>
    </div>
</section>
{% endblock %}