{% extends 'base.html.twig' %}

{% block title %}{% trans %}Detail Artikel{% endtrans %}{% endblock %}

{% block body %}

{# rendering fragment recherche #}
{{ render(path('recherche')) }}

<section class="m-article-detail">
    <div class="wrapper">
        {# insertion message de réussite / erreur / notice #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success message">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-warning message">
                {{ message }}
            </div>
        {% endfor %}
        <section class="m-article-detail-intro">
            <h1>{{ traductionArticle.nom }}</h1>
            <p>{{ traductionArticle.slogan }}</p>
            <div class="m-article-detail-intro-img">
                {% for image in traductionArticle.article.images %}
                    {% if image.coverDetailArticle == true %}                           
                        <img src="{{ asset('/uploads/images/'~image.nom) }}" alt="{{ traductionArticle.nom}}" title="{{ traductionArticle.nom}}">                            
                    {% endif %}
                {% endfor %}
            </div>
        </section>        
        {# si l'utilisateur est authentifié, il a accès à la barre d'actions #}
        {% if (app.user) %}
        <section class="m-article-detail-navbar-actions">
            <div class="wrapper">  
                <div class="commentaire" id="commentaire">
                    <i class="far fa-times-circle back-to-page" id="back-to-page-commentaire"></i>
                    <div class="form-commentaire">
                        <h3>{% trans %}Kommentieren{% endtrans %}</h3>
                        <p>{% trans %}Teile uns deine Meinung zu diesem Artikel mit! Der Kommentar wird nach Überprüfung freigeschaltet!{% endtrans %}</p>
                        <form action="{{ path('article_commentaire', {id: traductionArticle.article.id}) }}" method="post" class="form-commentaire-formulaire">
                            <div class="form-area-comment">
                                <textarea name="commentaire"/></textarea>                
                            </div>
                            <div class="recherche-area">
                                <button type="submit" class="btn btn-outline-info detail-btn">{% trans %}Absenden{% endtrans %}</button>
                            </div>
                        </form>
                    </div>           
                </div>              
                <div class="evaluation" id="evaluation">
                    <i class="far fa-times-circle back-to-page" id="back-to-page-evaluation"></i>
                    <div class="form-evaluation">
                        <h3>{% trans %}Bewerten{% endtrans %}</h3>
                        <p>{% trans %}Hier kannst du eine Bewertung abgeben!{% endtrans %}</p>
                        <form action="{{ path('article_evaluation', {id: traductionArticle.article.id}) }}" method="post" class="form-evaluation-formulaire">
                            <div class="form-area-evaluation">
                                <i class="lar la-star star" data-value="1"></i><i class="lar la-star star" data-value="2"></i><i class="lar la-star star" data-value="3"></i><i class="lar la-star star" data-value="4"></i><i class="lar la-star star" data-value="5"></i>                            
                            </div>
                            <div class="form-area-recup-valeur">
                                <input type="hidden" name="note" id="note" value="0">
                            </div>
                            <div class="recherche-area">
                                <button type="submit" class="btn btn-outline-info detail-btn">{% trans %}Absenden{% endtrans %}</button>
                            </div>
                        </form>
                    </div>           
                </div>              
                <div class="actions">
                    <div class="action-box affichage-formulaire" id="submit-commentaire">                                  
                        <div class="action-icon">
                            <i class="fas fa-comment"></i>
                        </div>
                        <div class="action-description">
                            <p>{% trans %}Kommentieren{% endtrans %}</p>
                        </div>                         
                    </div>
                    <div class="action-box affichage-formulaire" id="submit-evaluation">                                 
                        <div class="action-icon">
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="action-description">
                            <p>{% trans %}Bewerten{% endtrans %}</p>
                        </div>                          
                    </div>
                    <div class="action-box"> 
                        <a class="action-link" href="{{ path('article_favori', {id: traductionArticle.article.id}) }}" onclick='return confirm("{% trans %}Möchtest du diesen Artikel als Favorit hinzufügen?{% endtrans %}")'>      
                            <div class="action-icon">
                                <i class="fas fa-heart"></i>
                            </div>
                            <div class="action-description">
                                <p>{% trans %}Als Favorit hinzufügen{% endtrans %}</p>
                            </div>   
                        </a>
                    </div>
                    <div class="action-box"> 
                        <a class="action-link" href="{{ path('add_panier', {id: traductionArticle.article.id}) }}" onclick='return confirm("{% trans %}Möchtest du diesen Artikel dem Warenkorb hinzufügen?{% endtrans %}")'>       
                            <div class="action-icon">
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>
                            <div class="action-description">
                                <p>{% trans %}Dem Warenkorb hinzufügen{% endtrans %}</p>
                            </div> 
                        </a> 
                    </div>
                </div>
            </div>
        </section> 
        {% else %}
        <section class="m-article-detail-navbar-actions text-center">
            <p>{% trans %}Du kannst diesen Artikel kaufen, als Favorit hinzufügen, kommentieren oder bewerten. Dafür musst du eingeloggt sein.{% endtrans %}</p>
        </section> 
        {% endif %}
        <section class="m-article-detail-info">        
            <div class="container-onglets">
                <div class="onglets act" data-anim="1">{% trans %}Beschreibung{% endtrans %}</div>
                <div class="onglets" data-anim="2">{% trans %}Zutaten{% endtrans %}</div>
                <div class="onglets" data-anim="3">{% trans %}Kommentare{% endtrans %}</div>
            </div>
            <div class="contenu overflow-y activeContenu" data-anim="1">
                <div class="m-article-detail-info-box">
                    <h3>{% trans %}Allgemeine Beschreibung:{% endtrans %}</h3> 
                    {# raw => effacer les balises HTML (div) #}              
                    <p class="description">{{ traductionArticle.description|raw }}</p>
                </div>
                <div class="m-article-detail-info-box">
                    <h3>{% trans %}Kategorie:{% endtrans %}</h3>
                    <p>{{ traductionCategorie.nom }}</p> 
                    <p>{{ traductionCategorie.description|raw }}</p> 
                </div>
                <div class="m-article-detail-info-box">
                    <h3>{% trans %}Preis:{% endtrans %}</h3>
                    {% if traductionArticle.article.promotion %}  
                        {# date d'affichage#}
                        {% if traductionArticle.article.promotion.dateStart < date('now') and traductionArticle.article.promotion.dateEnd > date('now') %}
                            <div class="promo-box">
                                <p class="barre">{{ prix }}</p>
                                <p class="promo">{{ prixPromo }}</p>
                            </div>
                        {% else %}                        
                            <p>{{ prix }}</p> 
                        {% endif %}
                    {% elseif traductionArticle.article.categorie.promotion %}
                        {# date d'affichage#}
                        {% if traductionArticle.article.categorie.promotion.dateStart < date('now') and traductionArticle.article.categorie.promotion.dateEnd > date('now') %}
                            <div class="promo-box">
                                <p class="barre">{{ prix }}</p>
                                <p class="promo">{{ prixPromo }}</p>
                            </div>
                        {% else %}                        
                            <p>{{ prix }}</p>
                        {% endif %}
                    {% else %}
                        <p>{{ prix }}</p>
                    {% endif %}
                </div>  
                <div class="m-article-detail-info-box">
                    <h3>{% trans %}Bewertungen{% endtrans %}</h3>
                    {% if nombreEvaluations > 0 %}
                        <p>{% trans %}Anzahl Bewertungen:{% endtrans %} <span>{{ nombreEvaluations}}</span></p>
                        <p>{% trans %}Durchschnittsbewertung:{% endtrans %} <span>{{ notationMoyenne }}/5<span></p>
                    {% else %}
                        <p>{{ traductionArticle.nom }} {% trans %}wurde noch nicht bewertet.{% endtrans %}
                    {% endif %}
                </div>   
            </div>
            <div class="contenu" data-anim="2">                          
                <div class="contenu-box">
                    <h3>{% trans %}Dieser Artikel enhält:{% endtrans %}</h3>
                        <ul>
                    {% if traductionBeurres is defined and traductionBeurres is not null and traductionBeurres is not empty %}
                        {% for beurre in traductionBeurres %}                                        
                            <li>{{ beurre.nom }}</li>                                      
                        {% endfor %}                   
                    {% endif %}                
                    {% if traductionHuiles is defined and traductionHuiles is not null and traductionHuiles is not empty %}                        
                        {% for huile in traductionHuiles %}                                  
                            <li>{{ huile.nom }}</li>                                        
                        {% endfor %}                        
                    {% endif %}                       
                    {% if traductionHuilesEss is defined and traductionHuilesEss is not null and traductionHuilesEss is not empty %}                        
                        {% for huileEss in traductionHuilesEss %}                                   
                            <li>{{ huileEss.nom }}</li>
                        {% endfor %}                   
                    {% endif %}                        
                    {% if traductionIngredientsSupp is defined and traductionIngredientsSupp is not null and traductionIngredientsSupp is not empty %}                        
                        {% for ingredientSupp in traductionIngredientsSupp %}                                 
                            <li>{{ ingredientSupp.nom }}</li>                                        
                        {% endfor %}                   
                    {% endif %}  
                </div>
            </div>               
            <div class="contenu overflow-y" data-anim="3">
                <h3>{% trans %}Kommentare zu{% endtrans %} {{ traductionArticle.nom }}:</h3> 
                {% if commentaires is defined and commentaires is not null and commentaires is not empty %}                
                    {% for commentaire in commentaires %}   
                        <div class="m-article-detail-commentaire-box">                                
                            <p>{{ commentaire.utilisateur.prenom }} {{ commentaire.utilisateur.nom}} {% trans %}schrieb am{% endtrans %} {{ commentaire.dateCommentaire|date('d/m/Y')}}: </p>
                            <p>"{{ commentaire.contenu }}"</p>
                        </div>
                    {% endfor %} 
                {% else %}
                    <p>{% trans %}Keine Kommentare zu diesem Artikel vorhanden!{% endtrans %}
                {% endif %}
            </div>
        </section>
    </div>
</section>
{% endblock %}