{% extends 'base.html.twig' %}

{% block title %}{% trans %}Detail Artikel{% endtrans %}{% endblock %}

{% block body %}

{# rendering fragment recherche #}
{{ render(path('recherche')) }}

<section class="m-article-detail">
    <div class="wrapper">
        <section class="m-article-detail-intro">
            <h1>{{ traductionArticle.nom }}</h1>
            <p>{{ traductionArticle.slogan }}</p>
            <div class="m-article-detail-intro-img">
                {% for image in traductionArticle.article.images %}
                    {% if image.coverDetailArticle == true %}                           
                        <img src="{{ asset('/uploads/images/'~image.nom) }}" alt="{{ traductionArticle.nom}}" title="{{ traductionArticle.nom}}">                            
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        <section class="m-article-detail-info">        
            <div class="container-onglets">
                <div class="onglets act" data-anim="1">{% trans %}Beschreibung{% endtrans %}</div>
                <div class="onglets" data-anim="2">{% trans %}Zutaten{% endtrans %}</div>
                <div class="onglets" data-anim="3">{% trans %}Bewertungen{% endtrans %}</div>
            </div>
            <div class="contenu overflow-y activeContenu" data-anim="1">
                <div class="m-article-detail-info-box">
                    <h3>{% trans %}Allgemeine Beschreibung:{% endtrans %}</h3> 
                    {# raw => effacer les balises HTML (div) #}              
                    <p class="description">{{ traductionArticle.description|raw }}</p>
                </div>
                <div class="m-article-detail-info-box">
                    <h3>{% trans %}Kategorie:{% endtrans %}</h3>
                    <p>{{ traductionCategorie.nom }}</p> 
                </div>
                <div class="m-article-detail-info-box">
                    <h3>{% trans %}Preis:{% endtrans %}</h3>
                    {% if traductionArticle.article.promotion or traductionArticle.article.categorie.promotion %}
                        <div class="promo-box">
                            <p class="barre">{{ prix }}</p>
                            <p class="promo">{{ prixPromo }}</p>
                        </div>
                    {% else %}                        
                        <p>{{ prix }}</p> 
                    {% endif %}
                </div>
                <div class="m-article-detail-info-btn">
                    <a href="#" class="btn btn-outline-info">{% trans %}In den Warenkorb{% endtrans %}</i></a>
                </div>      
            </div>
            <div class="contenu" data-anim="2">                          
                <div class="contenu-box">
                    <h3>{% trans %}Dieser Artikel enhält:{% endtrans %}</h3>
                        <ul>
                    {% if traductionBeurres is defined and traductionBeurres is not null and traductionBeurres is not empty %}
                        {% for beurre in traductionBeurres %}                                        
                            <li>{{ beurre.nom }}</li>                                      
                        {% endfor %}                   
                    {% endif %}                
                    {% if traductionHuiles is defined and traductionHuiles is not null and traductionHuiles is not empty %}                        
                        {% for huile in traductionHuiles %}                                  
                            <li>{{ huile.nom }}</li>                                        
                        {% endfor %}                        
                    {% endif %}                       
                    {% if traductionHuilesEss is defined and traductionHuilesEss is not null and traductionHuilesEss is not empty %}                        
                        {% for huileEss in traductionHuilesEss %}                                   
                            <li>{{ huileEss.nom }}</li>
                        {% endfor %}                   
                    {% endif %}                        
                    {% if traductionIngredientsSupp is defined and traductionIngredientsSupp is not null and traductionIngredientsSupp is not empty %}                        
                        {% for ingredientSupp in traductionIngredientsSupp %}                                 
                            <li>{{ ingredientSupp.nom }}</li>                                        
                        {% endfor %}                   
                    {% endif %}  
                </div>
            </div>               
            <div class="contenu" data-anim="3">
                <h3>{% trans %}Bewertungen{% endtrans %}</h3>
                <hr>
                <p>JIJI</p>
            </div>
        </section>
    </div>
</section>
{% endblock %}